body{
    margin: 0;
    text-align: center;
    color: blue;
    font-size: large;
}

#main{
    margin: 30px 8px;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
}
#img-div{
    background:white;
    padding: 10px;
    margin: 0;


}
#title{
    font-size: 4rem;
    margin-bottom: 0;

}
#img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
#headline{
    margin: 50px 0;
   

}
ul{
    max-width: 550px;
     text-align: left;
    line-height: 1.6;
    margin: 0 auto 50px auto;
}
li{
    margin: 16px 0;
}